h1{
    border: 1px solid red;
    padding-left: 22px;
    padding-top: 2px;
    padding-bottom: 10px;
}
p{
    border: 1px solid green;
    margin-left: 25px;
    margin-top: 25px;
    padding-top: 10px;
    padding-left: 15px;
    height: 20px;
    width: 45px;
}
.imgs{
    display: block;
    margin: 30px;
    text-align: center;
}
#ah{
    height: 200px;
    width: 400px;
}
#ajustado{
    width: 300px;
}
#rara{
    width: 50px;
}
#real{
    width: 450px;
}